body {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3 {
    color: #2a2730;
    font-family: "Lora", "Times", serif;
    font-weight: normal;
    font-size: 230%;
    clear: both;
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
}

.title em {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 43%;
}

h1.title {
    margin-bottom: 0;
}

a {
    color: #900;
    text-decoration: none;
}

a:visited {
    color: #700;
}

a:hover {
    color: #d00;
    text-decoration: underline;
}

.content {
    width: 800px;
    margin: auto;
}

.menu ul {
    list-style-type: none;
    width: 50%;
    padding-bottom: 15px;
}

.menu li {
    border-left: 1px solid #ddd;
    display: inline;
    margin-left: 5px;
    padding-left: 10px;
}

.menu li:first-child {
    border-left: none;
}
