{% extends "_base.html" %}

{% block content %}
<title>Nameko :: community</title>

<h1 class="title">Community
</h1>

<div class="menu">
<ul>
    <li><a href="/">overview</a></li>
    <li><a class="external" href="https://nameko.readthedocs.org">documentation</a></li>
    <li>community</li>
    <li><a class="external" href="https://github.com/onefinestay/nameko">source code</a></li>
</ul>
</div>

<p>
Comments or questions? Get in touch!
</p>

<ul>
    <li>
        <a href="groups.google.com/forum/#!forum/nameko-dev">
            nameko-dev google group
        </a></li>
    <li>IRC: #nameko on freenode</li>
</ul>
{% endblock content %}
